body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.5em;
}


.img {
    display: block;
    margin: 5% auto;
}
/* tasks need to be done */
/* 1. make grid and flexbox */
/* 2. make the page layout that changes for 3 different screens */
/* 3. Make sure the text of <p> is not too wide when full screen */


h1 {
    text-align: center;
    line-height: 1.5em;
    background-color: antiquewhite;
    margin: auto 7%;
}


h1,
h2 {
    color: #20639b;
}


h2 {
    margin-top: 5%;
}


h3 {
    font-size: large;
}


.main {
    max-width: 50rem;
    margin: 0 auto;
}


#author-img {
    border-radius: 50%;
}


#author-name {
    color: gray;
}

blockquote {
    color: dimgray;
}


body {
    display: grid;
    width: 95vw;
    margin: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 5%;
    max-height: 20rem;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
}


.footer {
    margin: 20px;
}