body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.5em;
}


.img {
    display: block;
    margin: 0 auto;
}


h1 {
    text-align: center;
    line-height: 1.5em;
}


h1,
h2 {
    color: #20639b;
}


#author-img {
    border-radius: 50%;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
}


.footer {
    margin: 20px;
}