body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

/* .header{

} */

/* #header-link{
    color: cornflowerblue;
    text-decoration-color: cornflowerblue;
    font-size: medium;
} */

#author-img{
    border-radius: 50%;
}